<section class="bg-2do section-inner-lg">
    <div class="container">
        <h1 class="title title-3ro title-underline"><strong>{{'faq.title' | translate}}</strong> <small class="title title-small title-white">{{'faq.subtitle' | translate}}</small></h1>
        <div class="row">
            <div class="col-md-6" ng-repeat="items in ('faq.items' | translate)">
				<div class="text-box" ng-repeat="item in items">
					<h4><strong>{{item.title}}</strong></h4>
					<p ng-repeat="text in item.texts">{{text}}</p>
					<img class="faq_ico img-responsive img-center" ng-src="images/faq/{{item.image}}.png" alt="" width="340" ng-if="item.image">
				</div>
			</div>
        </div>
    </div>
</section>
