<nav class="navbar navbar-default navbar-mod navbar-fixed-top" role="navigation" ng-class="$state.current.data.headerClass">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" ui-sref="landing.it">
                <img ng-src="images/{{$state.current.data.headerImg}}.png" alt="Metzoo Logo" width="180">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-nav-mod navbar-right">
                <li ng-class="{active: $state.includes('landing.it')}"><a ui-sref="landing.it">IT</a></li>
                <li ng-class="{active: $state.includes('landing.agro')}"><a ui-sref="landing.agro">AGRO</a></li>
                <li ng-class="{active: $state.includes('faq')}"><a href="#/faq">{{"landing.menu.faq" | translate | uppercase}}</a></li>
                <li ng-class="{active: $state.includes('developers')}"><a href="#developers">{{"landing.menu.developers" | translate}}</a></li>
                <li ng-class="{active: $state.includes('pricing')}"><a href="#/pricing">{{"landing.menu.pricing" | translate}}</a></li>
                <li><a href="../blog">{{"landing.menu.blog" | translate}}</a></li>
                <li class="toggle-lang"> <label class="toggle"> <input translate-language type="checkbox" ng-click="TranslateLanguage.change()" ng-checked="language.lang === 'es'"> <span data-unchecked="esp" data-checked="eng"></span> <p class="lang left ng-binding">ESP</p> <p class="lang right ng-binding">ING</p> </label> </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
